/*
    Eship ADMIN
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.app-eship #custom-eship-messages, .app-eship #custom-eship-rates {
    display: none;
}

.app-eship .message-api {
    display: none;
}

.app-eship {
    color: #1f61ad;
    background-color: #f4f8f6;
    font-family: 'Open Sans', sans-serif;
}

.app-eship p {
    color: #333333;
}

.app-eship h1,h2,h3,h4,h5,h6 {
    color: #1f61ad;
}

.app-eship .bg-img-header {
    background-color: #1f61ad;
}

.app-eship .card {
    max-width: 100% !important;
}

.app-eship .modal{
   z-index: 100000;
}

#orders-list .dashicons{
    /*font-size: 500%;
    width: 100%;
    height: 100%;*/
}

#dashBoardEshipModalToggle2 .form-check .form-check-input, #myEshipOrderTabContent .form-check .form-check-input{
    margin-left: 0px;
}

#orders-list #icon-add-options  .dashicons {
    font-size: 100%;
    width: auto;
    height: auto;
}




